apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_url": "https://rancher.domain.local",
      "access_key": "my_access_key",
      "secret_key": "my_secret_key"
    }
